* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    width: 1280px;
}

header {
    background: url(/assets/Header\ Background2.png), lightgray 50% / auto no-repeat;
    width: 100vw;
    height: 459px;
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;


}

header h1 {
    color: #FFF;
    text-align: center;
    font-family: Luckiest Guy;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header p {
    width: 757px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

nav .download {
    width: 205px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #FFF;
}

nav .open {
    width: 281px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #23272A;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-1, .section-2, .section-3, .section-4 {
    display: flex;
    width: 100vw;
    height: 448px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}


.section-4-text {
    width: 802px;
    color: #23272A;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-4,
.image-3,
.image-2,
.image-1 {
    width: 784px;
    height: 508px;
}

.title-1 {
    width: 608px;
    color: #23272A;
    text-align: center;
    font-family: Luckiest Guy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    width: 329px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p {
    width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main section p {
    width: 348px;
    color: #23272A;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer {
    display: flex;
    width: 100vw;
    height: 134px;
    padding: 35px 0px 36px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #23272A;
}

@media screen and (max-width: 428px) {
    body {
        width: 428px;
    }

    header {
        background: url(/assets/Header\ Background.png), lightgray -711.152px 0px / 343.529% 100% no-repeat;
        height: 506px;
        flex-shrink: 0;
        display: flex;
        padding: 0px 24px;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    header p {
        width: 300px;
    }

    header nav {
        flex-direction: column;
    }

    nav .download {
        width: 300px;
        height: 54px;
    }

    nav .open {

        width: 300px;
        height: 52px;
    }


    .section-1, .section-2, .section-3, .section-4{
        display: flex;
        width: 100vw;
        padding: 40px 24px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 27px;
    }


    .section-4-text {

        width: 300px;
    }

    .image-4,
    .image-3,
    .image-2,
    .image-1 {
        width: 300px;
        height: 250px;
    }

    .title-1 {
        width: 300px;
        font-size: 32px;
    }

    h2 {
        width: 379px;
        font-size: 24px;
        text-align: center;
    }

    p {
        width: 378px;
        text-align: center;
    }

    footer {
        height: 140px;
        padding: 44px 134px 51px 133px;
        background-image: url(/assets/svgexport-15\ 1.svg) width: 162px;
        height: 45px;
        flex-shrink: 0;
    }
}